.blue{
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0CB8B6;
}

.white{
  padding: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

*{
  /* outline: 1px solid red; */
}

.Text:nth-child(1){
  width: 30%;
}
.Text:nth-child(2){
  width: 50%;
}


.Text h2{
  color: white;
  font-size:2rem;
}

.Big-Text{
  color: white;
  font-size: 2.5rem;
  font-weight:900;
}

.Text p{
  font-size: .9rem;
  color: #f8f8f8;
  font-weight:500;
}

.underlined-div{
  text-align:center ;
  margin-bottom: 3rem;
  border-bottom: 5px solid #0CB8B6;
}

.underlined-div h1{
  font-weight: 900;
  font-size: 2.5rem;
}

.class p{
  font-size: .9rem;
  font-weight: 500;
}

.class{
  width:auto;
}

.Meet-Dev{
  display: flex;
  flex-direction: column !important;
  justify-content:center;
}

.MeetDevDiv{
  margin-bottom: 3rem;
  text-align:center;
}

.DevelopersProfile{
  display: flex;
  align-items:center;
  justify-content:space-between;
}



.MeetTeam{
  display: flex;
  flex-direction: column;
  width:25%;
  background-color: white;
  text-align:center;
}
.MeetTeam img{
  width:100%;
}
.MeetTeam h2{
  font-size: 1.5rem;
  font-weight:700;
  margin:.5rem 0;
}
.MeetTeam h3{
  font-size:1rem;
  color:#272424;
  font-weight:600;
  margin:.5rem 0;
}


@media screen and (max-width:768px) {
  .blue{
    flex-direction: column;
  }

  .Text:nth-child(1){
    margin-bottom:7%;
    width:auto;
  }

  .Text:nth-child(2){
    width:auto;
    margin-bottom: 7%;
  }

  .DevelopersProfile{
    flex-direction:column;
    width:auto;
  }

  .MeetTeam{
    width: auto;
    margin-bottom: 3rem;
  }
}