.Logo {
  color: #0cb8b6 !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  /* margin-right: 2rem; */
}
/* 
.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
} */


/* .nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
} */


@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 4rem;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #f8f8f8;
    align-items: center;
  }

  .nav-menu.active {
    /* background: #f8f8f8; */
    left: 0px;
    color:#0cb8b6;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  /* .nav-item .active {
    color: #ffdd40;
    border: none;
  } */
  /* .nav-links {
    padding: 1rem;
    width: 100%;
    display: table;
  } */

  .Logo{
    font-size: 1.2rem;
    padding-top:1.5rem !important;
    /* margin-top:-.5rem; */
    text-align: start !important;
  }

}